* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 1em;
}

h2 {
  text-align: center;
  margin-bottom: 1em;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

.item-card {
  display: flex;
  flex-direction: column;
  background: #dce2fb;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 5px #6c4ff0;
  max-width: 35em;
  /* max-height: 45em; */
  margin: 1em;
  transition: all 0.8s ease;
}

.item-card:hover {
  box-shadow: 0 10px 15px #a797ee;
  transform: translateY(-10px);
  
}

.item-image {
  height: 380px;
  width: 310px;
  margin-right: 1em;
}

.rightside-descript {
  display: flex;
  flex-direction: row;

}

.paragraph-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

}

.release {
  display: flex;
  margin-top: 2em;
  font-weight: bold;
}

.no-results {
  text-align: center;
  color: #f2efef;
  font-size: 2em;
  margin-top: 2em;
}

.search-input, .sort-button {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sort-button {
  background-color: #6c4ff0;
  color: white;
  cursor: pointer;
  width: 12em;
  transition: all 0.8s ease;
}

.search-input {
  width: 20em;
}

.active {
  background-color: #0e87f8;
} 

.search-input:focus, .sort-button:focus {
  outline: none;
  border-color: #6c4ff0;
  box-shadow: 0 0 5px #6c4ff0;
}

.sort-button:hover {
  box-shadow: 0 5px 10px #a797ee;
}

.sort-search-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1em 2em;
  flex-wrap: wrap;
}

@media (max-width: 595px) {
  .layout {
    flex-direction: column;
    align-items: center;
    
  }

  .item-card, .item-image {
    max-width: 90vw;
    margin: 0 0 1em 0;
  }

  .rightside-descript {
    flex-direction: column;
    align-items: center;
  }
}